@use "src/variables" as variables;

main {
  display: flex;
  align-items: flex-start;
  flex: 1;

  > nav {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    overflow: auto;
    box-sizing: border-box;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
  }

  .content {
    flex: 1;
    min-width: 0;
  }
}

@media (max-width: 1140px) {
  main {
    > nav {
      @include variables.side-push-close;
    }
  }
}
