mat-progress-bar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 64px;

  > .btn-doc-outline-menus {
    display: none;
  }

  > .menusMenu {
    display: none;
  }

  > .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    color: white;
    margin-left: 4px;
  }
}

@media (max-width: 1140px) {
  mat-toolbar {
    > .btn-doc-outline-toggle {
      display: none;
    }

    > .btn-doc-outline-menus {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  mat-toolbar {
    > .menus {
      display: none;
    }

    > .menusMenu {
      display: block;
    }
  }
}
