@if (loading) {
  <mat-progress-bar mode="indeterminate" color="warn"/>
}
@if (loadingService.status() | async) {
  <mat-progress-bar mode="query" color="accent"/>
}
<mat-toolbar>
  @if (showToggleButton) {
    <button mat-icon-button (click)="toggleSideNav()" class="btn-doc-outline-toggle">
      <mat-icon>dehaze</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="outlineMenu" class="btn-doc-outline-menus">
      <mat-icon>dehaze</mat-icon>
    </button>
    <mat-menu #outlineMenu=matMenu>
      @for (doc of docs; track doc.id) {
        <button mat-menu-item [routerLink]="['documents', doc.id]" routerLinkActive="active">{{ doc.title }}</button>
      }
    </mat-menu>
  }
  <button mat-icon-button [routerLink]="['']">
    <mat-icon svgIcon="rabbit-sql"></mat-icon>
  </button>
  <div class="menus">
    <button mat-button [routerLink]="['']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">{{ appName }}
    </button>
    <button mat-button [routerLink]="['documents']" routerLinkActive="active">{{ document }}</button>
    <button mat-button [routerLink]="['guides']" routerLinkActive="active">{{ guides }}</button>
  </div>
  <div class="menusMenu">
    <button mat-icon-button [matMenuTriggerFor]="menusMenu">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
    <mat-menu #menusMenu=matMenu>
      <button mat-menu-item [routerLink]="['']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ appName }}
      </button>
      <button mat-menu-item [routerLink]="['documents']" routerLinkActive="active">{{ document }}</button>
      <button mat-menu-item [routerLink]="['guides']" routerLinkActive="active">{{ guides }}</button>
    </mat-menu>
  </div>
  <span class="spacer"></span>
  <div class="settings">
    <button mat-button [matMenuTriggerFor]="versionMenu">
      <mat-icon>arrow_drop_down</mat-icon>
      10.2.1
    </button>
    <mat-menu #versionMenu=matMenu>
        <a mat-menu-item>10.2.1 (latest)</a>
        <a mat-menu-item href="https://rabbitsql.cn/v9">9.0.20</a>
    </mat-menu>
    <a mat-icon-button [href]="gitee" target="_blank" matTooltip="Gitee">
      <mat-icon svgIcon="gitee"></mat-icon>
    </a>
    <a mat-icon-button [href]="github" target="_blank" matTooltip="Github">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
  </div>
</mat-toolbar>
<router-outlet/>
