<div class="markdown">
  @if (content) {
    <main class="print-section">
      @if (titles[0]; as title) {
        <h1 [style.top]="top()">
          <span>{{ title.content }}</span>
          <span class="spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="shareMenu" matTooltip="分享" class="no-print">
            <mat-icon>share</mat-icon>
          </button>
          <mat-menu #shareMenu=matMenu>
            <button mat-menu-item (click)="copyLink()" class="no-print">
              复制链接
              <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-menu-item (click)="scanQrCode()" class="no-print">
              扫一扫
              <mat-icon>qr_code</mat-icon>
            </button>
          </mat-menu>
          <button mat-icon-button (click)="download()" matTooltip="打印" class="no-print">
            <mat-icon>print</mat-icon>
          </button>
          @if (subtitles.length > 0) {
            <button mat-icon-button class="outline-menu no-print" [matMenuTriggerFor]="menu" matTooltip="导航大纲">
              <mat-icon>list</mat-icon>
            </button>
            <mat-menu #menu=matMenu>
              @for (subtitle of subtitles; track subtitle.id) {
                <a [routerLink]="[]" [fragment]="subtitle.id" [class.active]="subtitle.id === currentHash"
                   mat-menu-item>{{ subtitle.content }}</a>
              }
            </mat-menu>
          }
        </h1>
      }
      <article [innerHTML]="content | safehtml"></article>
    </main>
    @if (subtitles.length > 0) {
      <div class="outline slide-container no-print">
        <div class="content">
          <div class="header"><b>导航大纲</b></div>
          <nav>
            @for (subtitle of subtitles; track subtitle.id) {
              <a [class]="subtitle.level" [routerLink]="[]" [fragment]="subtitle.id"
                 [class.active]="subtitle.id === currentHash">{{ subtitle.content }}</a>
            }
          </nav>
        </div>
      </div>
    }
  }
</div>
