@use "src/variables" as variables;

.markdown {
  display: flex;
  align-items: flex-start;

  .outline-menu {
    display: none;
  }

  main {
    padding: 20px 50px;
    outline: currentColor;
    flex: 1;
    min-width: 0;

    > h1 {
      display: flex;
      align-items: center;
      border-bottom: 1px solid variables.$purple-10;
      padding-bottom: 8px;
      padding-top: 8px;
      position: sticky;
      background-color: white;
      z-index: 1;
    }

    > article {
      // 隐藏md文件的第一个标题，提取出来进行更细粒度的调整
      #md-head-0 {
        display: none;
      }

      .md-head {
        display: flex;
        align-items: center;
        min-height: 26px;

        &:hover {
          .head-link {
            display: block;
          }
        }

        .head-link {
          display: none;
          height: 100%;
          padding: 0;
        }
      }

      p {
        overflow-wrap: anywhere;

      }

      ul {
        li {
          margin: 10px 0;
          line-height: 1.6;
        }
      }

      blockquote {
        border-left: 4px solid #888888;
        margin: 14px 0;
        padding: 0 10px;

        p {
          color: #888888;
        }
      }

      code:not(.hljs) {
        background-color: #f1e5fb;
        padding: 4px 6px;
        border-radius: 4px;
        color: #191919;
      }

      pre {
        line-height: 1.6;
        position: relative;
        border: 1px solid variables.$purple-10;
        border-radius: 4px;
        padding-right: 40px;

        &.mermaid {
          border: none;
          padding: 0;
          margin: 20px 0;
          display: flex;
          justify-content: center;
        }

        > .code-copy {
          position: absolute;
          color: rgb(144, 144, 144);
          right: 0;
          top: 2px;

          &:hover {
            color: #191919;
          }
        }

        > .hljs {
          background-color: transparent;
        }
      }

      table {
        min-width: 100%;
        border: 0;
        border-spacing: 0;
        table-layout: auto;
        white-space: normal;
        border-collapse: collapse;
        word-wrap: break-word;
        overflow-wrap: break-word;

        tr {
          height: 52px;

          th {
            padding: 0 16px;
            border-bottom-color: rgba(0, 0, 0, 0.12);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            letter-spacing: 0.006rem;
            font-weight: 500;
            box-sizing: border-box;
            text-overflow: ellipsis;
            overflow: hidden;
            outline: none;
            text-align: left;
            word-break: break-word;
            line-height: 1.6;
          }

          td {
            padding: 0 16px;
            border-bottom-color: rgba(0, 0, 0, 0.12);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            letter-spacing: 0.015rem;
            word-break: break-word;
            line-height: 1.6;
          }
        }
      }
    }
  }

  .outline {
    position: sticky;
    top: 100px;
    box-sizing: border-box;
    width: 260px;
    overflow-y: auto;
    max-height: calc(100vh - 136px);

    .content {
      border-left: 3px solid variables.$purple-10;
      padding: 8px 8px 8px 16px;

      .header {
        margin-bottom: 5px;
      }

      nav {
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
          font-size: 14px;
          color: rgb(32, 32, 32);
          padding: 4px 0;

          &:hover {
            color: #8632ca;
          }

          &.active {
            color: #8632ca;
            background-color: transparent !important;
          }
        }
      }
    }
  }

  @media (max-width: 880px) {
    .outline {
      @include variables.side-push-close;
    }

    .outline-menu {
      display: initial;
    }
  }

  @media (max-width: 768px) {
    main {
      padding-left: 0;
      padding-right: 0;

      > h1 {
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 10px;
      }

      > article {
        padding: 0 20px;
      }
    }
  }
}
