<header>
  <div class="container">
    <h1>为复杂查询而生的超轻量 SQL 框架</h1>
    <p>Rabbit-SQL 是比 ORM 更轻的动态 SQL 管理框架，对复杂查询说 Yes，对 ORM 限制说 No！</p>
    <div class="actions">
      <a mat-fab extended [routerLink]="['/documents']" routerLinkActive="active" color="primary">开始使用</a>
      <a mat-fab extended [href]="github" target="_blank" color="primary">
        <mat-icon svgIcon="github"></mat-icon>
        Github
      </a>
    </div>
    <img class="big-logo" src="images/rabbit-sql.svg" alt="rabbit sql" loading="lazy">
  </div>
</header>
<main>
  <section class="introduction">
    <div class="column">
      <h2>国产化</h2>
      <p>核心代码完全自主实现，非套壳，对数据安全、审计要求极高的政务项目，可以通过静态 SQL 管理
        + 参数化执行，实现最安全可控的数据访问。</p>
      <p>独创 XQL 文件，天然适配国产生态，兼容主流国产数据库，如达梦、人大金仓、腾讯 TBase、TD-SQL 等。</p>
    </div>
    <div class="column">
      <h2>极简敏捷</h2>
      <p>约定大于配置，默认情况下几乎零配置，不会用 ORM？没关系，写 SQL 就能上项目，复杂度由你掌控，更快完成开发任务。</p>
      <p>有史以来最简单的动态 SQL，拒绝代码拼接，让 SQL 写法回归它该有的简洁和自由。</p>
    </div>
    <div class="column">
      <h2>开发赋能</h2>
      <p>支持主流开源框架 Spring Boot 自动配置，最少3行代码可完成一次查询。</p>
      <p>插件：支持主流开发工具 IDEA，让 DBA 轻松参与项目，开发、测试流程化，提高沟通效率，降低心智负担，所见即所得。</p>
    </div>
  </section>
  <mat-divider/>
  <h2>快照</h2>
  <section class="introduction">
    <div class="description">
      <h3>动态SQL</h3>
      <p>不写 XML，不绑注解，SQL 自由表达，掌控你的 SQL，而不是被框架绑定。</p>
      <p>自创的 XQL 动态 SQL 注释扩展脚本语法，还让动态 SQL 测试不再是一件头疼的事。
      </p>
    </div>
    <div class="snapshot">
      <img src="images/execute-dynamic-sql.png" alt="执行动态SQL" loading="lazy">
    </div>
  </section>
  <section class="introduction">
    <div class="snapshot">
      <img src="images/xql-mapper.png" alt="接口映射" loading="lazy">
    </div>
    <div class="description">
      <h3>接口映射</h3>
      <p>除了注入核心接口 <b>Baki</b> 之外，还有可选的 XQL 映射接口，支持多种方式来提高灵活性，以满足不同的风格需求。</p>
    </div>
  </section>
  <section class="introduction">
    <div class="description">
      <h3>多实例</h3>
      <p>多数据源多 Baki 实例配置照样轻松，默认自动配置 Baki 对应默认的 数据源，更多的数据源配置在 <b>secondaries</b>
        节点下即可，无需编写任何配置类。</p>
    </div>
    <div class="snapshot">
      <img src="images/multiple-baki.png" alt="多实例" loading="lazy">
    </div>
  </section>
  <section class="introduction">
    <div class="snapshot">
      <img src="images/project-init.png" alt="项目初始化" loading="lazy">
    </div>
    <div class="description">
      <h3>Hello world</h3>
      <p>搭配 Spring boot 自动配置，只需简单的几步即可搞定，简化开发流程，专注编写业务代码。</p>
    </div>
  </section>
  <mat-divider/>
  <div class="stretch">
    <h2>指南</h2>
    <a mat-button [routerLink]="['/guides']">
      查看所有指南
      <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
  <section class="introduction">
    @for (guide of guidesTop3; track guide.id) {
      <div class="column">
        <a mat-ripple class="card-link" [routerLink]="['/guides', guide.id]">
          <mat-card>
            <mat-card-content>
              <h3 mat-card-title>{{ guide.title }}</h3>
              <p>{{ guide.description }}</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    }
  </section>
</main>
<footer>
  <div class="content">
    <mat-divider/>
    <br>
    <p>Copyright © {{ year }} 程钰兴 版权所有。</p>
    <p>作者：程钰兴 | 联系邮箱：<a
      href="mailto:517991382@qq.com?subject=来自Rabbit SQL网站的联系&body=您好，请问...">517991382&#64;qq.com</a>
    </p>
    <p>除非另有声明，本站内容均可自由转载，但需注明出处。</p>
    <p class="beian">
      <span>ICP备案/许可证号：</span>
      <img class="icon" src="beian-icon.png" alt="备案图标" loading="lazy">
      <a href="https://beian.mps.gov.cn/#/query/webSearch?code=53011202001633" rel="noreferrer" target="_blank">滇公网安备53011202001633号</a>
      <span>·</span>
      <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">滇ICP备2025064476号</a>
    </p>
    <br>
  </div>
</footer>
